#presentacion {
    min-height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url('assets/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.proyeto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 { 
    background-image: url('assets/Google.png');
}

#proyecto-2 {
    background-image: url('');
}

#proyecto-3 {
    background-image: url('');
}

.text-shadow-1 {
    text-shadow: 4px 3px 12px rgba(7, 7, 7, 0.916);
}

.imagen-redonda{
    border-radius: 50%;
}